<!DOCTYPE html>
<html>
  <head>
    <title>Car listing - J.S. Holiday car rentals</title>
    <%- include('head') %>
  </head>
  <body>
    <main>
      <table class="pure-table pure-table-striped">
        <thead>
          <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Plate</th>
            <th>Taken?</th>
            <th>Availability:</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for (let car of cars) { %>
            <tr>
              <td><%= car.make %></td>
              <td><%= car.model %></td>
              <td><%= car.plate %></td>
              <td><%= car.rented ? 'taken' : 'free' %></td>
              <td><%= car.rented ? (new Date(car.rental_end).toString()) : '--' %></td>
              <td>
                <% if (car.rented) { %>
                  <form class="pure-form end_rental" action="/rentals/<%= car.rental_id %>/end" method="post"><button>End rental</button></form>
                <% } else { %>
                  <form class="pure-form start_rental"><input type="hidden" name="car_id" value="<%= car.car_id %>" /><button>Start rental</button></form>
                <% } %>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </main>
    <script src="/public/cars.js"></script>
  </body>
</html>
