<!DOCTYPE html>
<html>
  <head>
    <title>Price quotation - J.S. Holiday car rentals</title>
    <%- include('head') %>
  </head>
  <body>
    <main>
      <h1>Price calculation result</h1>
      <p>Generated <%= timestamp.toString() %></p>
      <section>
        <h2>Car details</h2>
        <table class="pure-table">
          <tbody>
            <tr><td>Make</td><td><%= car.getMake() %></td></tr>
            <tr><td>Model</td><td><%= car.getModel() %></td></tr>
          </tbody>
        </table>
      </section>
      <section>
        <h2>Rental details</h2>
        <table class="pure-table">
          <tbody>
            <tr><td>Pick-up</td><td><%= rental.start.toString() %></td></tr>
            <tr><td>Drop-off</td><td><%= rental.end.toString() %></td></tr>
            <tr><td>Days billable</td><td><%= rental.days %></td></tr>
            <tr><td>Total price</td><td><%= price.amount %>&nbsp;<%= price.currency %></td></tr>
          </tbody>
        </table>
      </section>
      <section>
        <h2>Start rental</h2>
        <form action="/rentals" method="post" class="pure-form pure-form-stacked">
          <input type="hidden" name="car_id" value="<%= car.getID() %>" />
          <input type="hidden" name="date_start" value="<%= rental.start.toISOString() %>" />
          <input type="hidden" name="date_end" value="<%= rental.end.toISOString() %>" />
          <fieldset>
            <legend>Customer information</legend>
            <label>Full name<input type="text" name="customer_name" required /></label>
            <label>Age<input type="number" min="16" max="999" step="1" name="customer_age" required /></label>
            <label>E-mail<input type="text" name="customer_email" required /></label>
          </fieldset>
          <button>Start contract</button>
        </form>
      </section>
    </main>
  </body>
</html>
