<!DOCTYPE html>
<html>
  <head>
    <title>Rental summary - J.S. Holiday car rentals</title>
    <%- include('head') %>
  </head>
  <body>
    <main>
      <h1>Rental contract started!</h1>
      <p>Generated <%= timestamp.toString() %></p>
      <section>
        <h2>Car details</h2>
        <table class="pure-table">
          <tbody>
            <tr><td>Make</td><td><%= car.getMake() %></td></tr>
            <tr><td>Model</td><td><%= car.getModel() %></td></tr>
          </tbody>
        </table>
      </section>
      <section>
        <h2>Rental details</h2>
        <table class="pure-table">
          <tbody>
            <tr><td>Pick-up</td><td><%= rental.start.toString() %></td></tr>
            <tr><td>Drop-off</td><td><%= rental.end.toString() %></td></tr>
            <tr><td>Days billable</td><td><%= rental.days %></td></tr>
            <tr><td>Total price</td><td><%= price.amount %>&nbsp;<%= price.currency %></td></tr>
          </tbody>
        </table>
      </section>
      <section>
        <p>Thank you for using J.S. Holiday car rentals - the leader in cars &amp; design patterns!</p>
      </section>
      <p><a href="/cars">Back to car listing</a></p>
    </main>
  </body>
</html>
